# --- Microsoft SQL Server Setup ---
# Used for integration tests
MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_USERNAME=sa
MSSQL_PASSWORD=yourStrong(!)Password
# Optional: default database to select after login (blank uses server default)
MSSQL_DATABASE=
# Set to `true` to enable TLS encryption when connecting
MSSQL_ENABLE_TLS=false

# --- PostgreSQL Setup ---
# Used for benchmark tests
ECHO_POSTGRES_HOST=HOST
ECHO_POSTGRES_PORT=5432
ECHO_POSTGRES_DATABASE=DB
ECHO_POSTGRES_USERNAME=USER
ECHO_POSTGRES_PASSWORD=PASSWORD
# Optional extras:
# ECHO_POSTGRES_SSL=false
# ECHO_POSTGRES_BASE_QUERY="SELECT * FROM schema.table"
