<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>170</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>170</string>
					<key>Timestamp</key>
					<string>780859186.007995</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>fuzee/Views/TabbedQueryView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>                    QueryResultsSection(tab: tab)
                        .frame(height: totalHeight * (1 - ratioBinding.wrappedValue))
</string>
				<key>trailing</key>
				<string>                        .transition(.opacity)
                }
            }
</string>
			</dict>
			<key>title</key>
			<string>Error: Invalid redeclaration of 'cursor'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>170</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>170</string>
					<key>Timestamp</key>
					<string>780859186.0110101</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>fuzee/Views/TabbedQueryView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>                    QueryResultsSection(tab: tab)
                        .frame(height: totalHeight * (1 - ratioBinding.wrappedValue))
</string>
				<key>trailing</key>
				<string>                        .transition(.opacity)
                }
            }
</string>
			</dict>
			<key>title</key>
			<string>Error: Invalid redeclaration of 'cursor'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>25</string>
					<key>EndingLineNumber</key>
					<string>197</string>
					<key>StartingColumnNumber</key>
					<string>21</string>
					<key>StartingLineNumber</key>
					<string>197</string>
					<key>Timestamp</key>
					<string>780871334.238987</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>fuzee/Views/Sidebar/Components/DatabaseObjectBrowserView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>fill</string>
				<key>leading</key>
				<string>            if isPinned &amp;&amp; isExpanded {
                RoundedRectangle(cornerRadius: cornerRadius, style: .continuous)
//                    .</string>
				<key>trailing</key>
				<string>(Color.primary.opacity(0.40))
                    .fill(.ultraThickMaterial)
            } else {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>196</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>195</string>
					<key>Timestamp</key>
					<string>780912423.519637</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>fuzee/Views/Sidebar/Pages/Explorer/ExplorerSidebarView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                            withAnimation(.easeInOut(duration: 0.3)) {
</string>
				<key>leading</key>
				<string>                        },
                        onRefresh: {
</string>
				<key>trailing</key>
				<string>                                isHoveringConnectedServers = true
                                expandedConnectedServerIDs.insert(session.connection.id)
                            }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>354</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>353</string>
					<key>Timestamp</key>
					<string>780873249.615087</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>fuzee/Views/Sidebar/Components/DatabaseObjectBrowserView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        .padding(.leading, 24)
</string>
				<key>leading</key>
				<string>            Spacer()
        }
</string>
				<key>trailing</key>
				<string>    }

    private var highlightBackground: some View {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>311</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>310</string>
					<key>Timestamp</key>
					<string>780873249.615109</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>fuzee/Views/Sidebar/Components/DatabaseObjectBrowserView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        .padding(.vertical, 6)
</string>
				<key>leading</key>
				<string>        }
        .padding(.horizontal, 12)
</string>
				<key>trailing</key>
				<string>        .background(highlightBackground)
        .contentShape(Rectangle())
        .onTapGesture {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
